
    .conteudo {
        width: 85%
    }

    .item-menu {
        padding-top: 20px !important;
    }

    .active div {
        background-color: #08487da3 !important;
    }

    .div-principal {
        background-color: #0058a591;
        cursor: pointer;
    }

    .left,
    .right {
        float: left;
    }

    .left {
        top: 0% !important;
        background: rgb(0, 101, 183);
        display: inline-block;
        white-space: nowrap;
        width: 50px;
        transition: width .5s;
    }

    .right {
        background: #fff;
        width: 350px;
        transition: width 1s;
        border-style: solid;
        border-color: #ccc;
        border-width: 1px;
    }

    .left:hover {
        width: 200px;
    }

    .item:hover {
        color: #fff;
        background-image: linear-gradient(to right,#005CA9, #005CA9);
        font-family: 'Arial black';
    }

    .left .fas {
        margin: 15px;
        width: 20px;
        color: #fff;
    }

    i.fas {
        font-size: 17px;
        vertical-align: middle !important;
    }

    .item {
        height: 50px;
        overflow: hidden;
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
    }

    .item-texto {
        margin-top: 1%;
    }

    .margem-label{
        padding-left: 25px;
        font-size: 13px;
        color: white;
    }

    .margen-icon{
        margin-left: 15px;
        font-size: 15px;
        
    }
		
    .menu{
        left: 0;
        width: 4em;
        height: 100%;
    }

    
    .menu-lateral {
        background-color: #0065b7;
        display: inline-block;
        white-space: nowrap;
        width: 200px;
        transition: width .5s;
    }
    
    .item-principal{
        height: 50px;
        overflow: hidden;
        color: #fff;
        cursor: pointer;
    }

    .menu-padding {
        padding: 0 !important;
        top: 0 !important;
    }

    @media (max-height: 700px){
        .scroll {
            overflow-y: scroll;
            height: 80%;
        }
    }

    .pagina-principal {
        margin-left: 2% !important;
        margin-top: -132px;
        padding-top: 132px;
        min-height: 100vh;
        padding-bottom: 80px;
        margin-bottom: -12px;
    }

    li {
        line-height: 0;
        list-style-type: none;
    }

    li:hover .submenu {
        display: block;
        max-height: 300px;
      }

    .item-submenu {
        overflow: hidden;
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        padding-bottom: 15px;
        padding-top: 20px !important;
        padding-left: 10px;
        height: 40px;
    }

    .item-submenu:hover {
        color: #fff;
        background-image: linear-gradient(to right,#005CA9, #005CA9);
        font-family: 'Arial black';
    }

      .submenu {
        overflow: hidden;
        max-height: 0;
        -webkit-transition: all 0.5s ease-out;
        background-color: #085592;
      }
    
    .margem-label{
        padding-left: 25px;
        font-size: 13px;
        color: white;
    }

    .margen-icon-submenu {
        margin-left: 50px;
    }

    .btn-padrao{
        background: #005CA9 !important;
        color: #fff;
        margin-right: 3em
    }